# Analisi non supervisionata - Titanic

Obiettivo: esplorare il dataset senza utilizzare la variabile target per individuare pattern o gruppi di passeggeri simili.

In [3]:
import pandas as pd

df = pd.read_csv("../data/titanic.csv")

In questa analisi non viene utilizzata la variabile 'Survived', in quanto l'obiettivo è esplorativo. 

Per l'analisi non supervisionata vengono selezionate solo variabili numeriche e facilmente interpretabili.

Feature consigliate: Age, Fare, Pclass, SibSp, Parch

In [4]:
from sklearn.preprocessing import StandardScaler

features = ["Age", "Fare", "Pclass", "SibSp", "Parch"]
X = df[features].dropna()

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [5]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=3, random_state=42)
clusters = kmeans.fit_predict(X_scaled)

X["Cluster"] = clusters
X.head()

    Age     Fare  Pclass  SibSp  Parch  Cluster
0  22.0   7.2500       3      1      0        1
1  38.0  71.2833       1      1      0        2
2  26.0   7.9250       3      0      0        1
3  35.0  53.1000       1      1      0        2
4  35.0   8.0500       3      0      0        1

In [7]:
df_unsup = df.loc[X.index].copy()
df_unsup["Cluster"] = clusters
df_unsup.head()

df_unsup.groupby("Cluster")[features].mean()

               Age        Fare    Pclass     SibSp     Parch
Cluster
0        31.960000  153.435737  1.461538  0.711538  2.153846
1        23.377815   15.101651  2.761261  0.569820  0.382883
2        42.034404   46.275650  1.353211  0.348624  0.119266

Dall'analisi emergono tre cluster distinti:
- un gruppo di passeggeri benestanti che viaggiano spesso in famiglia.
- un gruppo di passeggeri giovani in terza classe con biglietti economici.
- un gruppo di passeggeri più anziani, di classe alta, che viaggiono prevalentemente da soli.

I cluster risultano coerenti e facilmente interpretabili, confermando la presenza di segmenti naturali nel dataset.